body {
  background-color: #baba70;
  background-image: url("../img/bamboo.png");
  background-repeat: no-repeat;
  background-size: 100%;
  font-family: "Indie Flower", cursive;
  text-align: center;
  width: 100%;
}

.landing-page {
  display: flex;
  flex-direction: row-reverse;
}

ul {
  list-style: none;
}

li {
  padding-bottom: 10px;
  font-size: 2em;
}

a {
  text-decoration: none;
  color: #85130b;
  font-weight: 700;
}

.aside {
  flex-grow: 1;
}

.main-image {
  height: 500px;
  width: 500px;
  flex-grow: 8;
}

h1 {
  color: #85130b;
  font-size: 5em;
  font-weight: 700;
}

h2 {
  font-size: 3em;
  margin-top: 50px;
}

a:hover {
  color: white;
}

.intro {
  color: white;
  font-weight: 600;
  font-size: 2em;
}

.gallery {}

.img-gallery {
  display: flex;
}

p {
  font-size: 2em;
}