body {
  background-color: #baba70;
  font-family: "Indie Flower", cursive;
  text-align: center;
  width: 100%;
}

.landing-page {
  display: flex;
  flex-direction: row-reverse;
}

ul {
  list-style: none;
}

li {
  padding-bottom: 10px;
  font-size: 2em;
}

a {
  text-decoration: none;
}
.aside {
  flex-grow: 1;
}

img {
  height: 500px;
  width: 500px;
  flex-grow: 8;
}

h1 {
  color: #85130b;
  font-size: 5em;
}

h2 {
  font-size: 3em;
}